{% extends "layout.html" %}

{% block title %}
    Contact
{% endblock %}

{% block main %}
    <section class="main">
        <div id="m" class="card text-center" style="max-width: 25rem;">
            <div class="card-body">
                <h5 class="card-title" style="font-size: 28px">Contact Info</h5>
                <table id="centre-table" class="card-text" style="color:black">
                    <tr>
                        <td>Phone: </td>
                        <td>1-868-682-5193</td>
                    </tr>
                    <tr>
                        <td>Email: </td>
                        <td><a href = "mailto: ekissoon@uwaterloo.ca">ekissoon@uwaterloo.ca</a></td>
                    </tr>
                    <tr>
                        <td>GitHub: </td>
                        <td><a href="https://github.com/Emilykissoon">Emilykissoon</a></td>
                    </tr>
                    <tr>
                        <td>Facebook: </td>
                        <td><a href="https://www.facebook.com/emily.kissoon.90">Emily Kissoon</a></td>
                    </tr>
                </table>
            </div>
        </div>
    </section>
{% endblock %}